@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

/* Reseteo de valores */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Creación de variables */
:root{
    /* Variables para los colores del proyecto */
    --primary: #4452fe;
    --firstText: #000;
    --gray: #5c5c5c;
    --darkBackground: #181818;
    --secondaryBackground: #1e1e1e;
    --white: #fff;
    --ligthText: #fff;

    /* Fuentes para los diferentes textos del proyecto */
    --font: "Poppins", sans-serif;
    --light: 400;
    --medium: 500;
    --bold: 700;
}

body{
    background-color: var(--darkBackground);
    color: var(--ligthText);
    font-family: var(--font);
    overflow-x: hidden;
    width: 100%;
}

/* Estilos que se van aplicar para todos los links que coloque
    dentro del proyecto */
a{
    color: var(--ligthText);
}

/* Estilos para el navbar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    z-index: 2;
}

.logo{
    width: 90px;
}

.menu{
    padding: 15px 5px;
    /* Esto lo hago para que se me ponga todo al lado del
    otro, ya que por defecto al usuarlo es como tener flex-
    direction: row */
    display: flex;
    /* Dentro del nav-bar tengo 3 "contenedor" que serían
    1- la imagen del logo de nucba 2- el menu y 3- los botones
    entonces lo que hago con esto es decir que el menu se
    coloque en la posición 3 en vez de la 2 */
    order: 3;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    /* transform: translateX(200%); */
    transition: all 0.5s ease-in-out;
}

.menu li{
    border-bottom: 1px solid var(--white);
}

.boton-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.boton-login{
    border: 1px solid var(--white);
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
}

