@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

/* Reseteo de los valores */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #181818;
    overflow-x: hidden;
}

#menu-toggle{
    /* Estoy ocultando el checkbox */
    display: none;
}

/* Dimensiones  y estilos para el nav bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 0;
    background-color: #131415;
    border-bottom: 1px solid gray;
    max-height: 62.33px;
}
/* ------------------------------------------------------ */

/* Dimensiones de la imagen del logo NUCBA */
.imagen{
    height: 100%;
    width: 100px;
    padding: 10px 0px;
}
/* ---------------------------------------------------------- */

/* Estilos para el boton del login */
.login{
    border: 1px solid  white;
    padding: 10px 35px;
    border-radius: 0.7rem;
    position: relative;
    left: 45%;
}

/* Estilos de los links */
a{
    color: rgb(243, 243, 243);
    font-size: 16px;
}

h1{
    color: rgb(243, 243, 243); 
}
p{
    color: rgb(243, 243, 243);
}
/* ----------------------------------------------------------- */

.login:hover{
    box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.50);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.50);
    -moz-box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.50);
}
/* --------------------------------------------------------- */

.menu{
    display: flex;
    flex-direction: column;
}

.menu-toggle{
    position: absolute;
    right: 0.7%;
    top: 2.4%;
}

.menu-items{
    display: flex;
    transform: translateX(-340%);    
    gap: 30px;
}

.menu-items li{
    transition: padding;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.menu-items li a:hover{
    padding:  10px 0 0 0;
}

.menu-items li a:focus{
    color: white;
    font-weight: 600;
}

span{
    color: rgb(19, 161, 161);
}

/* .span{
    font-style: oblique;
    color: rgb(172, 178, 1);
} */

/* Web responsive */
/* #menu-toggle:checked + .menu-items{
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transform: translateY(85%);
    gap: 10px;
} */

.boton{
    
}


